

<ion-view >
	<ion-content >
	<div class="selected-book">
		<img src="img/user1.jpg">
		<div class="price">$25</div>

		<div class="info">
			<div class="title">The Farmer</div>
			<div class="author">O MacDonald</div>
			<div class="addtocart" ng-click="buy()"><i class="ion-android-cart"></i></div>
			<div class="rate" ng-click="rate()"><i class="ion-ios-star"></i></div>
			
		</div>
		<h3>Synopsis</h3>
<p>Synopsis of book lslslslslslslslslslsl slslsll slslslsls sllslfd fdfdsfdfdsfdsfdfdfdfdsfdsfsdfdsfdfdsfdsfdsfdsfdsfdsfdfdfdsfdfdfdfdsfdf fdsfdsfdsfdsfdsfds</p>
<div class="item item-avatar">
		<img src="img/user1.jpg" >
		<h2>Boaty McBoatFace</h2>
		"awesome!"
		<span class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star-half"><i class="ion-ios-star-outline"></i></i></span>
	</div>
	</div>

	


	

	</ion-content>
</ion-view>
