<ion-view>
 
	<ion-content >
		<h3>Shopping cart</h3>
		<div class="list">
			<div class="item item-icon-left">
				The Farmer
				<span class="item-note">
					$25
				</span>
				<p>O MacDonald</p>
				<p>Qty : 1</p>
				
			</div>
			<div class="item item-icon-left">
				TOTAL
				<span class="item-note">$25<span>
			</div>
		</div>
		<button class="button button-block button-energized" ng-click="paypalPay()">Check out</button>
		<div ng-controller="purchaseCtrl">
		<button class="button button-block button-energized" ng-click="download()">Download</button>
	</div>
	</ion-content>
</ion-view>