<ion-modal-view>
 	<ion-header-bar class="bar-positive">
      <h1 class="title">Shopping cart</h1>
    </ion-header-bar>
	<ion-content >
		
		<div class="list card">
			<div class="item item-icon-left" ng-repeat="item in cart track by $index">
				{{item.name}}
				<i class="ion-ios-close-empty" ng-click="removeItem($index)"></i>
				<span class="item-note">
					<p>{{item.currency}} {{item.price}}</p>
					<p>sub-total: {{item.currency}} {{item.price*item.quantity}}</p>
				</span>
				<p>{{item.author}}</p>
				<p>Qty : {{item.quantity}}</p>
				<button class="button button-stable" ng-click="increaseQty($index)" ng-show="item.type!='ebooks'"><i class="icon ion-plus"></i></button>
				<button class="button button-stable" ng-click="decreaseQty($index)" ng-show="item.type!='ebooks'"><i class="icon ion-minus"></i></button>
				
			</div>
			<div class="item item-icon-left">
				TOTAL
				<span class="item-note"> {{book.currency}} {{total}}</span>
			</div>
		</div>
		<div class="card" ng-show="showShippingAddress==true">
			
			<div class="header">Shipping Address</div>
			<form name="orderForm">
				<div class="label">
					<input type="text" placeholder="Address Line 1"  name="address1" ng-model="shipping.address1" ng-pattern="/^[0-9A-Za-z\s\'\#\_\-@\.]{3,40}$/" required>
				</div>
				<p ng-show="orderForm.address1.$error.pattern && orderForm.address1.$touched">SSorry, your info contains invalid characters. Letters, numbers, space and any of these only: # - _ ' @ . </p>
				<div class="label">
					<input type="text" placeholder="Address Line 2"  name="address2" ng-model="shipping.address2" ng-pattern="/^[0-9A-Za-z\s\'\#\_\-@\.]{3,40}$/" required>
					<p ng-show="orderForm.address2.$error.pattern && orderForm.address2.$touched">Sorry, your info contains invalid characters. Letters, numbers, space, and any of these only: # - _ ' @ .</p>
				</div>
				<div class="label">
					<input type="text" placeholder="Postal code" name="postcode" ng-model="shipping.postcode" ng-pattern="/^[A-Z0-9]{4,10}$/" required>
				</div>
				<p ng-show="orderForm.postcode.$error.pattern && orderForm.postcode.$touched">Sorry, your info is invalid.UPPERCASE and numbers only. </p>
				<div class="label">
					<input type="text" placeholder="State" name="state" ng-model="shipping.state" ng-pattern="/^[0-9A-Za-z\s\'\#\_\-@]{3,40}$/">
					<p ng-show="orderForm.state.$error.pattern && orderForm.state.$touched">Sorry, your info contains invalid characters </p>
				</div>
			<div class="list">

			  <label class="item item-input item-select">
			    <div class="input-label">
			     Country
			    </div>
			    <select ng-model="shipping.country" name="country" ng-options="country.name for country in countries" required> 
			    </select>
			  </label>
			</div>

	</div>
			</form>
		</div>
		<button class="button button-block button-positive" ng-click="buyNow()" ng-disabled="showShippingAddress==true && orderForm.$invalid">Check out</button>
		
		<button class="button button-block button-calm" ng-click="goBack()">Back</button>
	
	</ion-content>
</ion-modal-view>