<ion-view>
 
	<ion-content >
		<h3>Shopping cart</h3>
		<div class="list">
			<div class="item item-icon-left">
				{{book.name}}
				<span class="item-note">
					{{book.price}}
				</span>
				<p>{{book.author}}</p>
				<p>Qty : 1</p>
				
			</div>
			<div class="item item-icon-left">
				TOTAL
				<span class="item-note">{{total}}<span>
			</div>
		</div>
		<button class="button button-block button-energized" ng-click="buyNow()">Check out</button>
		<div ng-controller="purchaseCtrl">
		<button class="button button-block button-energized" ng-click="download()">Download</button>
	</div>
	</ion-content>
</ion-view>