   
<ion-view view-title="Coupon">
	<ion-nav-bar class="bar bar-positive" ng-controller="mainCtrl">
      <ion-nav-buttons side="left"  >
         <i style="color: white;" class="button button-icon icon ion-chevron-left" ng-click="backToMain()"></i> 
      </ion-nav-buttons>
  </ion-nav-buttons>
     
<ion-nav-buttons side="right">
    <i style="color: white;" class="button button-icon icon ion-ios-cart" ng-click="openCart()"><span class="badge badge-assertive">{{cart.length}}</span></i> 
   
</ion-nav-buttons>
    </ion-nav-bar> 
	<ion-content >
	<div class="list card" ng-repeat="coupon in userCoupons">
		<div class="item item-body">
			<img class="full-image" ng-src="https://www.pompipi.co/apis/assets/images/coupons/{{coupon.qrcode}}">
		</div>
		<div class="item item-thumbnail-left">
			<img ng-src="https://www.pompipi.co/assets/images/{{coupon.image}}";
			<h3>{{coupon.name}}</h3>
			<h5>{{coupon.company}}</h5>
			<p>{{coupon.description}}</p>
		</div>
	</div>
</ion-content>
</ion-view>
