<ion-view view-title="Home">
	<ion-content>
	<div class="banner_ad">
		<div class="user_image">
			<img src="img/user1.jpg">
			<p>User name</p>
		</div>

	</div>
	<h3>Latest</h3>
	

		<ion-scroll direction="x" class="wide-as-needed" scrollbar-x="false" has-bouncing="true">
		
			
			<div class="mainhilight">
					<span class="cardz" ng-click="showBook()" ng-repeat="ebook in latestEbooks" >
			<img ng-src="http://www.learnandearn123.com/assets/images/{{ebook.image}}" class="thumbnail" ng-click="goToBook(ebook)">
					<p>{{ebook.title}}</p>
					<p>{{ebook.author}}</p>
				</span>
		
	
			
	
		
	</div>
		</ion-scroll>
		
	<h3>Trending</h3>
	
	
		<ion-scroll direction="x" class="wide-as-needed" scrollbar-x="false" >
		
			<div class="mainhilight">
					<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Title</p>
				</div>
		
	
					<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Title</p>
				</div>
		
					<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Title</p>
				</div>
		
					
			<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
				<p>Title</p>
				</div>
			
				
		</div>
		
	
		</ion-scroll>
	<h3>BEst sellers</h3>
	
	
		<ion-scroll direction="x" class="wide-as-needed">
		
			
					<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Title</p>
				</div>
		
	
					
			<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
				<p>Title</p>
				</div>
			
				
		
		
	
		</ion-scroll>

	<h3>Who's reading</h3>
	
	
		<ion-scroll direction="x" class="wide-as-needed" scrollbar-x="false" has-bouncing="true">
		
			
			<div class="mainhilight">
					<span class="cardz" ng-click="goToUser(user)" ng-repeat="user in whosReading" >
			<img ng-src="http://www.learnandearn123.com/apis/assets/images/avatars/{{user.avatar}}" class="thumbnail" >
					<p>{{user.username}}</p>
					<p>{{user.ebooks.length}} books</p>
				</span>
		
	
			
	
		
	</div>
		</ion-scroll>


	</ion-content>
</ion-view>