<ion-view>
	<ion-content>
	<div class="banner_ad">
	</div>
	<h3>Latest</h3>
	

		<ion-scroll direction="x" class="wide-as-needed" scrollbar-x="false" has-bouncing="true">
		
			
			<div class="mainhilight">
					<span class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Titile</p>
				</span>
		
	
			<span class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Titile</p>
				</span>
				<span class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Titile</p>
				</span>
				<span class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Titile</p>
				</span>
				<span class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Titile</p>
				</span>
	
		
	</div>
		</ion-scroll>
		
	<h3>Trending</h3>
	
	
		<ion-scroll direction="x" class="wide-as-needed">
		
			
					<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Titile</p>
				</div>
		
	
					
			<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
				<p>Titile</p>
				</div>
			
				
		
		
	
		</ion-scroll>
	<h3>BEst sellers</h3>
	
	
		<ion-scroll direction="x" class="wide-as-needed">
		
			
					<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Titile</p>
				</div>
		
	
					
			<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
				<p>Titile</p>
				</div>
			
				
		
		
	
		</ion-scroll>

	<h3>WHo's reading</h3>
	
	
		<ion-scroll direction="x" class="wide-as-needed">
		
			
					<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
					<p>Titile</p>
				</div>
		
	
					
			<div class="cardz">
			<img src="img/user1.jpg" class="thumbnail">
				<p>Titile</p>
				</div>
			
				
		
		
	
		</ion-scroll>


	</ion-content>
</ion-view>