<ion-view>
	<ion-content >
	<div class="login-container" ng-show="signup==false">
		<div class="logo">
			<img ng-src="{{user_image}}"/>
			<div class="label">Username</div>
			<input type="text" ng-model="user.username" placeholder="Your username">
			<div class="label">Password</div>
			<input type="password" ng-model="user.password" placeholder="Your password">
			<button class="button button-positive button-block" ng-click="normalLogin()">Login </button>
			<button class="button button-positive button-block" ng-click="facebookSignIn()">Login with Facebook</button>
			<p>Don't have an account? <span ng-click="showSignUp()">Sign Up.</span></p>

		</div>
	</div>
	<div class="login-container" ng-show="signup==true" >
		<h3>Sign Up</h3>
				<img class="avatar" src="img/user1.jpg" ng-show="!user.avatar">
				<img class="avatar" ng-src="{{user.avatar}}" ng-show="user.avatar">
				<div class="label" ng-click="setAvatar()">Avatar</div>
		<div class="label">Email</div>
			<input type="text" ng-model="user.email" placeholder="Your email">
		<div class="label">First name</div>
			<input type="text" ng-model="user.firstname" placeholder="Your first name">
			<div class="label">Last name</div>
			<input type="text" ng-model="user.lastname" placeholder="Your last name">
			<div class="label">Username</div>
			
			<input type="text" ng-model="user.username" placeholder="Your username">
			<div class="label">Password</div>
			<input type="password" ng-model="user.password" placeholder="Your password">
			
			<button class="button button-block" ng-click="normalSignUp()">Sign Up </button>
			<p>Already have an account? <span ng-click="showSignUp()">Log in.</span></p>
			
	</div>
	<pre>{{user.avatar}}</pre>
	</ion-content>
</ion-view>