
	<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu side="left" class="stylo_side">

<ion-content>

<div class="profile text-center">
 <img ng-src="https://www.pompipi.co/apis/assets/images/avatars/{{loggedinUser.avatar}}" ng-show="loggedinUser.facebookID.length<5">
      <img ng-src="https://graph.facebook.com/{{loggedinUser.facebookID}}/picture?type=large" ng-show="loggedinUser.facebookID.length>5"/>
      <p>{{loggedinUser.username}}</p>
</div>
  <div class="list stylo_list">
    <a class="item" ng-click="goToPage('main.home')">Home</a>
    <a class="item" ng-click="goToPage('profile_settings')">Profile settings</a>
    <a class="item" ng-click="goToPage('main.earnings')">My Account</a>
    <a class="item" ng-click="goToPage('main.shelf')">Shelf</a>
     <a class="item" ng-click="goToPage('coupon')">My Coupons</a>
    <a class="item" ng-click="goToPage('coupon_admin')" ng-show="loggedinUser.agent.length>0">Coupon Admin</a>
    <a class="item" ng-click="goToPage('login')">Logout</a>
  </div>

</ion-content>
</ion-side-menu>
  <ion-side-menu-content edge-drag-threshold="10">
 
	<ion-nav-bar class="bar bar-dark">
      <ion-nav-back-button side="left" back-button-icon="ion-ios-arrow-back">
        
      </ion-nav-back-button>
     <ion-nav-buttons side="left">
    
    <div style="color: white;" class="button button-icon icon ion-navicon" ng-click="toggleMenu()" ></div> 
</ion-nav-buttons>
<ion-nav-buttons side="right">
    <i style="color: white;" class="button button-icon icon ion-ios-cart" ng-click="openCart()"><span class="badge badge-assertive">{{cart.length}}</span></i> 
   
</ion-nav-buttons>
    </ion-nav-bar> 

<ion-tabs class="tabs-icon-top tabs-dark slide-left-right">
		
	
		<ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/main/home" >
    <ion-nav-view name="main-home" >
    </ion-nav-view>

  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="People" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/main/users" >
    <ion-nav-view name="main-users" >
		</ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="My stuff" icon-off="ion-bag" icon-on="ion-bag" href="#/main/shelf" > 
    <ion-nav-view name="main-shelf">
		</ion-nav-view>
  </ion-tab>
  <ion-tab title="Earnings" icon-off="ion-cash" icon-on="ion-cash" href="#/main/earnings" >
    <ion-nav-view name="main-earnings">
    </ion-nav-view>
  </ion-tab>


</ion-tabs>
</ion-view>
</ion-side-menu-content>

</ion-side-menus>
