  
<ion-view view-title="Products">
	 <ion-nav-bar class="bar bar-dark" ng-controller="mainCtrl">
      <ion-nav-buttons side="left"  ng-click="goBack()">
         <i style="color: white;" class="button button-icon icon ion-chevron-left" ng-click="backToMain()"></i> 
      </ion-nav-buttons>
  </ion-nav-buttons>
     
<ion-nav-buttons side="right">
    <i style="color: white;" class="button button-icon icon ion-ios-cart" ng-click="openCart()"><span class="badge badge-assertive">{{cart.length}}</span></i> 
   
</ion-nav-buttons>
    </ion-nav-bar> 
	<ion-content >
	
	<div class="selected-book">
		<img ng-src="http://www.learnandearn123.com/assets/images/{{thisProduct.image}}">
		<div class="price">${{thisProduct.price}}
			<p>rewards</p>
			<div class="rewards">
				<p ng-repeat="amount in thisProduct.commission track by $index"> {{amount * thisProduct.price }}</p>
			</div>
		</div>

		<div class="info">
			<div class="title">{{thisProduct.name}}</div>
			
			<div class="addtocart" ng-click="selectModel(thisProduct)"><i class="ion-android-cart"></i></div>
			<div class="rate" ng-click="rate()"><i class="ion-ios-star"></i></div>
			
		</div>
		<div class="recommends" ng-click="goToUser(thisProduct.buyer)">
		<img ng-src="http://www.learnandearn123.com/apis/assets/images/avatars/{{thisProduct.buyer.avatar}}" >
		<div class="user">{{thisProduct.buyer.username}} recommends this.</div> 
		
	</div>
	<div>
	<h3>Description</h3>
	
	<p>{{thisProduct.description}}</p>
	</div>
<div class="item item-avatar" ng-repeat="comment in thisProduct.comments" ng-click="goToCommentUser(comment.comment_by)">
		<img ng-src="http://graph.facebook.com/{{comment.facebookID}}/picture?type=large"ng-show="comment.facebookID">
		<img ng-src="http://www.learnandearn123.com/apis/assets/images/avatars/{{comment.avatar}}" ng-hide="comment.facebookID">
		<h2>{{comment.username}}</h2>
		{{comment.comment}}
		<span class="rating">{{comment.rating}}</i></span>
	</div>
	</div>

	


	

	</ion-content>
</ion-view>
