<ion-view view-title="Members">
	<ion-content lazy-scroll>
	<label class="item item-input">
	<input type="text" placeholder="search user" ng-model="searchUser"/>
</label>
	<div class="users" ng-repeat="user in users|filter:searchUser|orderBy: '-bookCount'" ng-click="goToUser(user)">
		<img image-lazy-src="http://www.learnandearn123.com/apis/assets/images/avatars/{{user.avatar}}" image-lazy-loader="lines" ng-show="user.facebookID.length<5">
		 <img image-lazy-src="http://graph.facebook.com/{{user.facebookID}}/picture?type=large" ng-show="user.facebookID.length>5"/>
		<div class="username"> {{user.username}}</div>
	
		
	</div>

	
	</ion-content>
</ion-view>