<ion-view view-title="Members">
	<ion-content lazy-scroll>
	<label class="item item-input">
	<input type="text" placeholder="search user" ng-model="searchUser"/>
</label>
	<div class="users" ng-repeat="user in users|filter:searchUser|orderBy: '-rankingCount'" ng-click="goToUser(user)">
		<img image-lazy-src="https://www.pompipi.co/apis/assets/images/avatars/{{user.avatar}}"  ng-show="user.facebookID.length<5">
		 <img image-lazy-src="https://graph.facebook.com/{{user.facebookID}}/picture?type=large" ng-show="user.facebookID.length>5"/>
		<div class="username"> {{user.username}}</div>

		<span style="color:#60196A"><i class="fa fa-book" ></i> {{user.ebooks.length}}</span>
		<span style="color:#6A3711"><i class="fa fa-gift" ></i> {{user.products.length}}</span><br>
		<span style="color:#4F6A0C"><i class="fa fa-headphones" ></i> {{user.media.length}}</span>
		<span style="color:#17626A"><i class="fa fa-qrcode" ></i> {{user.services.length}}</span>
		

		<p><span><i class="fa fa-book" style="color:#8B3B27"> </i>13</span>
		<span><i class="fa fa-headphones" style="color:#922D73"> </i>13</span></p>
		<p><span><i class="fa fa-gift" style="color:#146710"> </i>12</span>
		<span><i class="fa fa-qrcode" style="color:#104067"> </i> 0</span></p>

	</div>

	
	</ion-content>
</ion-view>
