 <ion-view view-title="Redeem Coupon">
<ion-nav-bar class="bar bar-positive" ng-controller="mainCtrl">
      <ion-nav-buttons side="left"  >
         <i style="color: white;" class="button button-icon icon ion-chevron-left" ng-click="backToMain()"></i> 
      </ion-nav-buttons>
  </ion-nav-buttons>
     
<ion-nav-buttons side="right">
    <i style="color: white;" class="button button-icon icon ion-ios-cart" ng-click="openCart()"><span class="badge badge-assertive">{{cart.length}}</span></i> 
   
</ion-nav-buttons>
    </ion-nav-bar> 
<ion-content>

<div class="list card">
	
		<button class="button button-assertive icon ion-qr-scanner" ng-click="scanQRCode()"> Scan CouponCode</button>
	</div>

	<div class="list card">
		<div class="item">
			Deal/Campaign<span class="item-info">{{service.name}}</span>
		</div>
		<div class="item">
			Description
			<p>{{service.description}}</p>
		</div>
		<div class="item">
			Quantity available<span class="item-info">{{service.quantity}}</span>
		</div>
		<div class="item">
			<button class="button button-assertive" ng-click="acceptCoupon()">Accept Coupon</button>
		</div>
	</div>

</ion-content>

</ion-view>