<ion-view view-title="My Books">
	<ion-content>

		<div class="list card">

  <div class="item">
    
    <h2>Learn and Earn 123</h2>
    <p>Ben Looi</p>
  </div>

  <div class="item item-image">
    <img src="img/learnandearn.png">
  </div>

  <a class="item item-icon-left assertive" ng-click="readEbook('1')" >
    <i class="icon ion-ios-book"></i>
   Read eBook
  </a>

</div>

<div class="list card">

  <div class="item">
    
    <h2>The Dog's Book of Verse</h2>
    <p>J Earl Clauson</p>
  </div>

  <div class="item item-image">
    <img src="img/dogbov.jpg">
  </div>

  <a class="item item-icon-left assertive" ng-click="readEbook('2')" >
    <i class="icon ion-ios-book"></i>
   Read eBook
  </a>

</div>

	</ion-content>
</ion-view>