<ion-view view-title="My Stuff">
	<ion-content>
   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

		<div class="list card" ng-repeat="book in eBooks">

  <div class="item">
    
    <h2>{{book.name}}</h2>
    <p>{{book.author}}</p>
  </div>

  <div class="item item-image">
    <img ng-src="https://www.pompipi.co/assets/images/{{book.image}}">
  </div>

  <a class="item item-icon-left assertive" ng-click="readEbook(book.file,book.filetype)" >
    <i class="icon ion-ios-book"></i>
   Read eBook
  </a>

</div>

<div class="list card" ng-repeat="album in music" >

  <div class="item">
    
    <h2>{{album.name}}</h2>
    <p>{{album.company}}</p>
  </div>

  <div class="item item-image">
    <img ng-src="https://www.pompipi.co/assets/images/{{album.image}}">
  </div>

  <ion-audio-track  ng-repeat="track in album.contents" track="track">
          <div class="list list-inset">
              <div class="item item-thumbnail-left item-icon-right">
                  <img src="https://www.pompipi.co/assets/images/{{track.image}}">
                  <h2>{{track.title}}</h2>
                  <p>{{track.artist}}</p>
                  
                  <ion-audio-controls>
                        <a class="button button-icon icon" ion-audio-play></a>
                        <ion-spinner icon="ios"></ion-spinner>
                    </ion-audio-controls>
                    <i class="fa fa-cloud-download" ng-click="downloadThisTrack(album.media_id,track.file)"></i>
              </div>
              <div class="item">
                <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
              </div>
          </div>
      </ion-audio-track>

</div>





	</ion-content>
</ion-view>