<ion-view view-title="User">

	<ion-content >
	
		<div class="user">
			<img ng-src="http://www.learnandearn123.com/apis/assets/images/avatars/{{user.avatar}}">
			<h2>{{user.firstname}} {{user.lastname}}</h2>
			<p>{{user.ebooks.length}} books</p>
			<button class="button button-calm" ui-sref="login">Follow</button>
		</div>
		<div class="books">
			<div class="book" ng-repeat="book in user.ebooks" ng-click="goToBook(book,'main.users')">

				<img ng-src="http://www.learnandearn123.com/assets/images/{{book.image}}" class="thumbnail" >
				<div class="info">
				<div class="title">{{book.name}}</div>
					<div class="author">{{book.author}}
					<span class="rating">3 stars</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>