<ion-nav-bar class="bar bar-positive" ng-controller="mainCtrl">
      <ion-nav-buttons side="left"  >
         <i style="color: white;" class="button button-icon icon ion-chevron-left" ng-click="backToMain()"></i> 
      </ion-nav-buttons>
  </ion-nav-buttons>
     
<ion-nav-buttons side="right">
    <i style="color: white;" class="button button-icon icon ion-ios-cart" ng-click="openCart()"><span class="badge badge-assertive">{{cart.length}}</span></i> 
   
</ion-nav-buttons>
    </ion-nav-bar> 

<ion-view view-title="User">

	<ion-content >
	
		<div class="user">
			<img ng-src="http://www.learnandearn123.com/apis/assets/images/avatars/{{user.avatar}}">
			<h2>{{user.firstname}} {{user.lastname}}</h2>
			<p>{{user.ebooks.length}} books</p>
			<p class="details">{{user.followers.length}} followers</p>
			<div class="details text-center">
			<button class="button button-calm" ng-click="follow(user.user_id)" ng-show="!following">Follow</button>
			<button class="button button-positive" ng-click="unfollow(user.user_id)" ng-show="following">Unfollow</button>
			</div>
		</div>
		<div class="books">
			<div class="book" ng-repeat="book in user.ebooks" ng-click="goToBook(book,'main.users')">

				<img ng-src="http://www.learnandearn123.com/assets/images/{{book.image}}" class="thumbnail" >
				<div class="info">
				<div class="title">{{book.name}}</div>
					<div class="author">{{book.author}}
					<span class="rating">3 stars</span>
					</div>
				</div>
			</div>
<!--
			<h3>Electronics</h3>
			<div class="book" ng-repeat="item in user.products" ng-click="showProduct(item,'main.users')">

				<img ng-src="http://www.learnandearn123.com/assets/images/{{item.image}}" class="thumbnail" >
				<div class="info">
				<div class="title">{{item.name}}</div>
					<div class="author">{{item.author}}
					<span class="rating">3 stars</span>
					</div>
				</div>
			</div>
			<h3>Fashion</h3>
			<div class="book" ng-repeat="item in user.products" ng-click="showProduct(item,'main.users')">

				<img ng-src="http://www.learnandearn123.com/assets/images/{{item.image}}" class="thumbnail" >
				<div class="info">
				<div class="title">{{item.name}}</div>
					<div class="author">{{item.author}}
					<span class="rating">3 stars</span>
					</div>
				</div>
			</div> -->
		</div>
	</ion-content>
</ion-view>