<ion-modal-view>
<ion-header-bar class="bar-positive">
      <h1 class="title">Comment</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
      		
      		<label class="item item-input">
      			<textarea type="text" rows="10"placeholder="Say something about this book..."></textarea>
      		</label>

	
</div>
<h3>Rate this book...</h3>
<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
<div class="vcenter">
      
        <button class="button button-positive " ng-click="submitComment()">Post</button>
     
    </div>
      
    </ion-content>

	
</ion-modal-view>